# Env
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.sqlite3
staticfiles/
media/

# Node
node_modules/
.next/
dist/
out/
npm-debug.log*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
*.pem
